@import '/src/style/variable.scss';

.ds-navigaion-menu {
    position: fixed;
    z-index: 9;
    top: 15px;
    right: 15px;
    width: 45px;
    padding: 5px 10px;
    background: $ds_gradient;
    border-radius: 50px;
    box-shadow: $box-shadow;
    transition: $transition;

    .ds-navigation-logo {
        display: flex;
        gap: 15px;
        justify-content: space-between;
        align-items: center;
    }
    
    span {
        transition: $transition;
        border-radius: 50%;
        padding: 5px;
    }

    svg {
        width: 35px;
        cursor: pointer;
    }
}