
/** Data Sphere Global CSS */
$ds_blue_color: #194FAC;
$ds_blue_color_hover : #1B222D;
$ds_dark_color: #1b222d;
$ds_gradient: linear-gradient(45deg, #194FAC,  #1B222D);
$ds_font_family: "Rubik", sans-serif;
$transition: 0.3s linear;

/** Radius parameters */
$radius_big: 10px;
$radius_small: 6px;

/** Colors */
$sivercr_normal: #C4C4C4;
$font_cr_black : #19191B;
$cr_white: #fff;
$cr_black: #000;

/** Wdkit common group */
$box-shadow: 2px 5px 4px 0px #0000003b;